.cart-item-count {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
    font-size: 12px;
    background-color: red;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: 0px;
}